#add-book-form {
    display: none;
}

#close-form-button {
    background-color: red;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

#close-form-button:hover {
    background-color: orange;
}

#submit-book-info {
    background-color: green;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

#submit-book-info:hover {
    background-color: yellowgreen;
}

.book-list {
    display: flex;
    flex-direction: column;
}